* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100dvw;
  position: fixed;
  z-index: 3;
  background: #254336;
  color: wheat;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

header p {
  cursor: pointer;
}

nav {
  padding-right: 1rem;
  display: flex;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:active {
  transform: translate(0, -3px);
  border-bottom: 5px solid yellow;
}

.home {
  height: 100dvh;
  background: #b7b597;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

.home aside {
  background-color: #000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 3rem;
}

.home aside h1 {
  position: relative;
  z-index: 1;
  left: 40%;
  font-size: 3rem;
  width: 500px;
}

.home aside p {
  position: relative;
  z-index: 1;
  left: 40%;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background: yellow;
  color: #000;
  width: fit-content;
  padding: 3px 5px;
}

.home aside img {
  width: 300px;
}

.home-img-profile {
  height: 100dvh;
  width: 800px;
}

.about {
  background: #e9e6e6;
  height: 100dvh;
  display: flex;
}

.about aside {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10rem;
  margin-left: 5rem;
}

.about aside > div {
  margin-top: 8rem;
}

.about aside .profile {
  margin-top: 2rem;
  box-shadow: -50px -100px 1px #000;
  width: 250px;
}
.about-text{
  text-align: justify;
  width: 375px;
}

.dot {
  width: 180px;
}

.about article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lingkaran {
  width: 50px;
  margin-left: 0.5rem;
}

.work h1 {
  display: inline;
  margin-left: 3.8rem;
}

.dot-work {
  right: 0;
  z-index: -1;
  position: absolute;
  transform: translate(0, -100px);
}

.dot-work img {
  width: 300px;
}

.about article > div {
  display: flex;
}

.about article > div h1 {
  position: relative;
  z-index: 2;
  font-size: 2.5rem;
}

.about article > div p {
  font-size: 2rem;
  padding-left: 0.8rem;
}

.yellow-line {
  position: relative;
  bottom: 20px;
  width: 150px;
  background: yellow;
  height: 10px;
}

.wrapper-about {
  height: 100px;
}

.zigzag {
  margin-left: 2rem;
  width: 200px;
  position: relative;
  bottom: 10px;
}

.work-heading {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.work h1 {
  font-size: 2rem;
}

.yellow-line.work {
  margin-left: 15px;
  bottom: 50px;
  width: 120px;
  z-index: -1;
}
.work p {
  padding-left: 3rem;
  margin-bottom: 2rem;
}

.work ul {
  height: 20px;
}

.work ul li {
  cursor: pointer;
}

.work ul li:hover {
  transform: translate(0, -3px);
  border-bottom: 5px solid yellow;
}

.border-effect {
  transform: translate(0, -3px);
  border-bottom: 5px solid yellow;
}

.wrapper-work {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 5rem 10rem;
}

.wrapper-work div img {
  width: 300px;
}

.logo-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.logo-wrapper > div > img {
  width: 100px;
  filter: grayscale();
  margin-bottom: 2rem;
}

.logo-wrapper > div:nth-child(1) > img {
  filter: none;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: white;
}

.wrapper-contact {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}
.header-contact {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.header-contact p {
  width: fit-content;
  background: yellow;
  color: #000;
}

.wrapper {
  width: 200px;
  display: flex;
  gap: 0.5rem;
}

.wrapper:nth-child(1) {
  margin-left: 5rem;
}
.wrapper:nth-child(2) {
  margin-left: 0.7rem;
}

.social-media {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.social-media i {
  padding: 0.8rem;
  border-radius: 50%;
  color: black;
  background-color: white;
}

.contact > p {
  margin-top: 1rem;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  header {
    width: 100dvw;
  }

  a {
    font-size: 0.5rem;
  }

  .home {
    width: 100dvw;
    display: block;
  }
  .home aside img {
    margin-bottom: 8rem;
    width: 300px;
  }

  .home aside {
    height: 92dvh;
  }

  .home aside h1 {
    position: relative;
    z-index: 1;
    left: 0;
    font-size: 1.5rem;
    width: 100dvw;
  }

  .home aside p {
    z-index: 1;
    left: 0;
    font-size: 1rem;
    margin-top: 0.5rem;
    background: yellow;
    color: #000;
    width: fit-content;
    padding: 3px 5px;
  }

  .home-img-profile {
    height: fit-content;
    width: 80dvw;
    position: absolute;
    top: 8rem;
    left: 2rem;
  }

  .about {
    padding-top: 5rem;
    display: block;
    width: 100dvw;
  }

  .about aside {
    flex-direction: row;
    width: 100dvw;
    margin: 0;
  }

  .about aside > div {
    margin-top: 0;
  }

  .about aside .profile {
    box-shadow: -20px -40px 1px #000;
    width: 200px;
    display: flex;
    margin-bottom: 1.5rem;
  }

  .about-text{
    width: 320px;
  }

  .work ul li {
    font-size: 0.6rem;
  }
  .wrapper-work {
    margin-top: 2.5rem;
    justify-content: center;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .wrapper-work div img {
    width: 100px;
  }

  .logo-wrapper > div > img {
    width: 50px;
    filter: grayscale();
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .wrapper-contact {
    flex-direction: column;
  }

  .wrapper {
    width: fit-content;
    display: flex;
    margin: 0;
  }

  .wrapper:nth-child(1) {
    margin-left: 0;
  }
  .wrapper:nth-child(2) {
    margin-left: 0;
  }

  .zigzag {
    width: 100px;
  }

  .dot {
    width: 100px;
  }

  .dot-work img {
    width: 200px;
  }
}
